*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color: black;
    color: white;
    width: 100%;
    min-height: 100vh;
}
.container header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 20px 0;
}
.container header img{
    width: 40px;
}
.container header ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
}
.container header ul li{
    transition: 0.1s;
}
.container header ul li:hover{
    cursor: pointer;
}

/* // */
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    
}
.container .content .image{
    width: 30%;
    display: flex;
    justify-content: center;
}
.container .content img{
    width: 180px;
}
.container .content .text{
    width: 40%;
}
.container .content h2{
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px 0;
}
.container .content p{
    font-size: 18px;
    line-height: 1.6;
}
.container .content a{
    display: block;
    background-color: white;
    text-decoration: none;
    color: black;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 20px;
    margin: 10px 0;
}

/* // */

.container .icons {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);

}
.container .icons img{
    width: 42px;
    transition: 0.4s;
}
.container .icons img:hover{
    cursor: pointer;
    transform: scale(1.2);
}